* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    font-family: montserrat;
}

nav {
    background: #111;
    height: 80px;
    width: 100%;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 30px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul input {
    border-radius: 10px ;
    line-height: 40px;
    width: 200px;
    margin: 0 5px;
    padding-left: 10px;
    border: 0px none transparent;

}
::placeholder{
    color: green;
}

nav ul button {
    border-radius: 10px ;
    line-height: 40px;
    width: 100px;
    margin: 0 5px;
    border: 2px solid green;
    background-color: black;
    color: green;

}

button:hover{
    cursor: pointer;
}
nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,
a:hover {
    background: green;
    transition: 0.5s;
}
.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}
@media (max-width: 721x) {
label.logo {
    font-size: 30px;
    padding-left: 50px;
    }
nav ul li a {
    font-size: 16px;
}
}
@media (max-width: 721px) {
.checkbtn {
    display: block;
}
ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #111;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
}
nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
}
nav ul input {
    width: 100px;
}

nav ul li a {
    font-size: 20px;
}
a:hover,
a.active {
    background: none;
    color: green;
}
#check:checked ~ ul {
    left: 0;
}
}
section {
background: url(bg1.jpg) no-repeat;
background-size: cover;
height: calc(100vh - 80px);
}

section{
    height: 100vh;
}